/*para hacer parpadear*/
/*RUN*/
.butRun {
    font-size:18px;
    font-family:helvetica;
    font-weight:bold;

    text-transform:uppercase;

  }

  .butRun{
    
    animation-name: parpadeoRun;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  

  }
  @keyframes parpadeoRun { 
    
    0% { 
        background-color:var(--bs-success);
        color: var(--bs-light); 
    }

    100% { 
        background-color:var(--bs-light);
        color: var(--bs-success) }
  }

  /*STOP*/
  .butStop {
    font-size:18px;
    font-family:helvetica;
    font-weight:bold;

    text-transform:uppercase;

  }

  .butStop{
    
    animation-name: parpadeoStop;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  

  }
  @keyframes parpadeoStop { 
    
    0% { 
        background-color:var(--bs-danger);
        color: var(--bs-light); 
    }

    100% { 
        background-color:var(--bs-light);
        color: var(--bs-danger) }
  }
   /*CHANGE*/
   .butChange {
    font-size:18px;
    font-family:helvetica;
    font-weight:bold;

    text-transform:uppercase;

  }

  .butChange{
    
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  

  }
  @keyframes parpadeoChange { 
    
    0% { 
      border-color: var(--bs-warning);
        background-color:var(--bs-warning);
        color: var(--bs-light); 
    }

    100% { 
      border-color: var(--bs-warning);
        background-color:var(--bs-light);
        color: var(--bs-warning) }
  }





