
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito:wght@200&family=Quicksand:wght@300;500;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

:root{
    --default-bg:gray;
  --nav-bg:#205E61;
  --body-bg-deg1:#8360c3;
   --body-bg-deg2: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
   --body-bg-deg3: linear-gradient(to right, #2ebf91, #8360c3);
}
body{
    background:var(--body-bg-deg1) ;  
    background:var(--body-bg-deg2); 
    background: var(--body-bg-deg3); 
    }



 nav{
    font-family: 'Tajawal', sans-serif;
  }
#section{
    font-family: 'Tajawal', sans-serif;

 margin:0 10px;
 
}



nav{
        background-color:var(--nav-bg) ;  
    }

form{
  padding:20px;
  background:var(--bs-white);
}

@media(min-width:640px){
  #section{
    width:500px;
    margin:auto;
  }
}

